<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span3">
    <section>
      <h1>
        <%= avatar_for(@user, 100) %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
        <%= render partial: "/microposts/form", locals: { micropost: @user.microposts.build } %>
    </section>
  </aside>
  <div class="span9">
    <% if @user.microposts.any? %>
      <h3>Activity (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>

<% if(@user == current_user) %>
  <%= link_to "Edit", edit_user_path(@user) %>
<% end %>
