<% provide(:title, @user.name) %>
<div class="row">
    <section class="user_business_card span6">
      <div class="clearfix">
        <div class="photo">
          <%=avatar_for(@user, 100)%>
        </div>
        <h3>
        <%= @user.name %>
        </h3>
      </div>
      <hr />
      <div class="story_count"><div class="btn-round btn-black btn-round-small pull-left"><%=@user.stories.count%></div>Stories</div>
      <div class="recent_activity"><small>Most recent activity<br/><cite><%=raw @user.microposts.last.try(:content)%></cite></small></div>
    </section>
    <section>
      <% if (current_user == @user) %>
        <%= render partial: "/microposts/form", locals: { micropost: @user.microposts.build } %>
      <% end %>
    </section>
  
  <div class="span9">
    <% if @user.stories.any? %>
      <h3>Stories</h3>
      <ul class="thumbnails">
        <% @user.stories.each do |story| %>
          <%= render partial: "/stories/story", locals: { story: story, hideAuthor: true } %>
        <%end%>
      </ul>
      
    <% end %>
  </div>
  <div class="span9">
    <% if @user.microposts.any? %>
      <h3>Activity</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>