<% provide(:title, @user.name) %>

<div class="row">
  <div class="card user_header span9 paddingless">
    <canvas id="canvas"></canvas>    
    <section class="user_business_card span6">
      <div class="clearfix">
        <div class="photo">
          <%=avatar_for(@user, 100)%>
        </div>
        <h3>
        <%= @user.name %>
        </h3>
      </div>
      <hr />
      <div class="story_count"><div class="btn-round btn-black btn-round-small pull-left"><%=@user.stories.count%></div>Stories</div>
      <div class="recent_activity"><small>Most recent activity<br/><cite><%=raw @user.microposts.first(order: "id DESC").try(:content)%></cite></small></div>
      <div class="sash span3">
      <%= render partial: 'sash', locals: { badges: @user.badges } %>
      </div>
    </section> 
  </div>
    <% if (current_user == @user) %>
    <div class="span9 card">
    <section>
        <%= render partial: "/microposts/form", locals: { micropost: @user.microposts.build } %>
    </section>
    </div>
    <% end %>
  
    <% if @user.stories.any? %>
    <div class="card span9 profile_header">
      <h3>Stories</h3>
    </div>
      <ul class="thumbnails span9 card chromeless">
        <% @user.stories.each do |story| %>
          <%= render partial: "/stories/story", locals: { story: story, hideAuthor: true } %>
        <%end%>
      </ul>
      <% if @user == current_user %>
        <div class="span9"><div id="new_story_button"><%= link_to "New story", new_story_path, class: "btn-square btn-blue" %></div></div>
      <% end %>
    <% else %>
      <div class="card span9 profile_header">
        <h3><%= link_to "Click here to create your first story!", new_story_path %></h3>
      </div>
    <% end %>
  
    <% if @user.microposts.any? %>
    <div class="card span9 profile_header">
      <h3>Activity</h3>
    </div>
      <ul class="microposts">
        <%= render @microposts %>
      </ul>
      <div class="pull-left">
      <%= will_paginate @microposts %>
    </div>
    <% end %>
</div>
<script>
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");
    //CORS workaround    
    var img = new Image();
    img.onload = function () {
      //draw it big
      var ratio = img.width / img.height;
      var bounds = $(canvas).parent(0)[0].getBoundingClientRect();
      canvas.width = bounds.width*1.2;
      canvas.height = canvas.width / ratio;
      ctx.drawImage(img, -100, -100, canvas.width, canvas.height);
      
      //cut out a bit of it and tiltshift
      Pixastic.process(canvas, "crop", {
         rect: { left: 0, top: 0, width: bounds.width, height: bounds.height },
         'leaveDOM': true,
       }, function(result) {
        canvas.width = bounds.width;
        canvas.height = bounds.height;
        ctx.drawImage(result,0,0);
        tiltShift(canvas);
      });
    }
    
    //CORS workaround
    img.crossOrigin = "Anonymous";
    img.src = '<%=random_page_banner(@user)%>';
</script>