<% provide(:title, @user.name) %>
<div class="row">
  <div class="card user_header span9">
    <canvas id="canvas"></canvas>    
    <section class="user_business_card span6">
      <div class="clearfix">
        <div class="photo">
          <%=avatar_for(@user, 100)%>
        </div>
        <h3>
        <%= @user.name %>
        </h3>
      </div>
      <hr />
      <div class="story_count"><div class="btn-round btn-black btn-round-small pull-left"><%=@user.stories.count%></div>Stories</div>
      <div class="recent_activity"><small>Most recent activity<br/><cite><%=raw @user.microposts.first(order: "id DESC").try(:content)%></cite></small></div>
      <div class="sash span3">
      <%= render partial: 'sash', locals: { badges: @user.badges } %>
      </div>
    </section> 
  </div>
    <% if (current_user == @user) %>
    <div class="span9 card">
    <section>
        <%= render partial: "/microposts/form", locals: { micropost: @user.microposts.build } %>
    </section>
    </div>
    <% end %>
  
  
    <% if @user.stories.any? %>
    <div class="card span9">
      <h3>Stories</h3>
    </div>
      <ul class="thumbnails">
        <% @user.stories.each do |story| %>
          <%= render partial: "/stories/story", locals: { story: story, hideAuthor: true } %>
        <%end%>
      </ul>
      
    <% end %>
  
  
    <% if @user.microposts.any? %>
    <div class="span9">
      <h3>Activity</h3>
    </div>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
</div>
<script>
  
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");
        
    var img = new Image();
    img.onload = function () {
      canvas.width = img.width*3;
      canvas.height = img.height*3;
      ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
      Pixastic.process(canvas,"blurfast",{amount:7});
    }
    img.crossOrigin = "Anonymous";
    img.src = '<%=random_story_banner(@user)%>';
    $(document).ready(function(){
      $("#canvas").animate({ 
        marginLeft: "+=10px",
    }, 1000 )
  });

</script>