<%= form_for([@story, rating], :remote => true, :html => { :class => "rating" }) do |f| %>
  <div class="field">
    <div class="rating">
      <input type="radio" id="star5" name="rating[score]" value="5" <%= rating.score == 5 ? "checked" : "" %> /><label for="star5" title="Rocks!"></label>
      <input type="radio" id="star4" name="rating[score]" value="4" <%= rating.score == 4 ? "checked" : "" %> /><label for="star4" title="Pretty good really"></label>
      <input type="radio" id="star3" name="rating[score]" value="3" <%= rating.score == 3 ? "checked" : "" %> /><label for="star3" title="Ok, I guess"></label>
      <input type="radio" id="star2" name="rating[score]" value="2" <%= rating.score == 2 ? "checked" : "" %> /><label for="star2" title="Kinda bad"></label>
      <input type="radio" id="star1" name="rating[score]" value="1" <%= rating.score == 1 ? "checked" : "" %> /><label for="star1" title="'Needs improvement'"></label>
    </div>
  </div>
  <div>
    <%= f.text_area :comment, placeholder: "Comments", rows: 3%>
    <%= f.hidden_field :user_id %> 
    <%= f.hidden_field :story_id %>
  </div>
  <%= button_tag "Rate", id: "ratingSubmit", class: "btn-square btn-orange btn-square-small " %>
   <div id="ratingAlert" class="alert alert-success">Done!</div>
  <script>
  $(document).ready(function() {
    $("div#ratingAlert").hide();
    $("button#ratingSubmit").click(function(){$("form#new_rating").submit();});
    $("form#new_rating").submit(function(event) {  
      var valuesToSubmit = $(this).serialize();
      $(this).on('ajaxComplete', function(evt, data, status, xhr) {alert("haaaaaa");} );
      $.ajax({
        url: $(this).attr('action'),
        data: valuesToSubmit,
        method: $(this).attr('method'),
        dataType: "jsonp",
        success: flashsuccess,
          error: flashsuccess,
          complete: flashsuccess
      }).done(flashsuccess)
      .fail(flashsuccess)
      .always(flashsuccess);
      //event.preventDefault();
    });
    function flashsuccess() {
      $("div#ratingAlert").fadeIn(500).delay(5000).fadeOut(1000);
    } 
  });</script>
<% end %>