<%= render "shared/error_messages", object: f.object %>
      
<%= f.label :title %>
<%= f.text_field :title %>
<div class="well">
<%= image_for_page @page %>
<%= f.label :image %>
<%= f.file_field :image %>
<br/> - or -
<%= f.label :image_url %>
<%= f.text_field :image_url, placeholder: "URL of your image" %>
</div>
<%= f.label :audio %>
<%= f.text_field :audio, placeholder: "URL of this page's audio" %>
<%= f.label :text %>
<%= f.text_area :text %>

<div id="type_list">
<%= f.label :type, "Page type" %>
<% Page::TYPES.each do |t,n| %>
  <br><%= radio_button :page, :type, t, checked: @page.type == t.to_s || (t.casecmp(Page::NORMAL)==0 && @page.type.blank?), :class => "rad_page_type rad_page_type_#{t}" %>
  <%= n.humanize %>
<% end %>
</div>

<div id="message_field">
	<%= f.label :message %>
	<%= f.text_field :message %>
</div>
<script>
	$("#message_field").hide();
	$(".rad_page_type").on("change", function(){
		if(!($(this).hasClass("rad_page_type_NormalPage") || $(this).hasClass("rad_page_type_StartPage")))
		{
			$("#message_field").show('slide');
		} else 
		{
			$("#message_field").hide('slide');
		}
	  
	});
	$(document).ready( function () {
		$(".rad_page_type:checked").trigger('change');
	});
</script>