<%= render "shared/error_messages", object: f.object %>
      
<%= f.label :title %>
<%= f.text_field :title %>
<div class="well">
<%= image_for_page @page %>
<%= f.label :image %>
<%= f.file_field :image %>
<br/> - or -
<%= f.label :image_url %>
<%= f.text_field :image_url, placeholder: "URL to your image" %>
</div>
<%= f.label :text %>
<%= f.text_area :text %>


<%= f.label :type %>
<%= f.select :type, Page::TYPES %>

<div id="message_field">
<%= f.label :message %>
<%= f.text_field :message %>
</div>