<%= render "shared/error_messages", object: f.object %>
      
<%= f.label :title %>
<%= f.text_field :title %>
<div class="well">
<%= image_for_page @page %>
<%= f.label :image %>
<%= f.file_field :image %>
<br/> - or -
<%= f.label :image_url %>
<%= f.text_field :image_url, placeholder: "URL to your image" %>
</div>
<%= f.label :text %>
<%= f.text_area :text %>

<div id="type_list">
<%= f.label :type, "Page type" %>
<% Page::TYPES.each do |t,n| %>
  <br><%= radio_button_tag :type, t, @page.type == t.to_s || (t.casecmp(Page::NORMAL)==0 && @page.type.blank?), {:class => "rad_page_type rad_page_type_#{t}"} %>
  <%= n.humanize %> - <%=@page.type%> = <%=t%> <%=@page.type == t.to_s%>
<% end %>
</div>

<div id="message_field">
	<%= f.label :message %>
	<%= f.text_field :message %>
</div>
<script>
	$("#message_field").hide();
	$(".rad_page_type").on("change", function(){
		if(!$(this).hasClass("rad_page_type_Normal"))
		{
			$("#message_field").show('slide');
		} else 
		{
			$("#message_field").hide('slide');
		}
	  
	});
</script>