<%= render "shared/error_messages", object: f.object %>
      
<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :text %>
<%= f.text_area :text %>
<div class="form-inline">
<%= f.check_box :success %>
<%= f.label :success %>

<%= f.check_box :end %>
<%= f.label :end %>
</div>