<%= nested_form_for([@story, @page], as: :page) do |f| %>
  <%= render "fields", f: f %>
  <div class="well" style="margin-bottom: 20px">
  <h3>Links</h3>
  <%= f.fields_for :links do |links_form| %>
      <div class="control-group controls form-inline link-row">
      <section>
        <% if links_form.object.other_page_id %>
          <%= link_to edit_story_page_path(@story.id,links_form.object.other_page_id) do %> <%= image_tag "/assets/jump_to.png" %><% end %>
        <% end %>
        <%= links_form.text_field :text, class: "input-medium", placeholder: "Link Text" %>
        <%= links_form.label :other_page_id, class: "control-label" %>
        <%= links_form.select :other_page_id, @story.pages.collect {|p| [ p.title, p.id ] }, {prompt: "New page..."}, class: "input-medium" %>
        <%= links_form.link_to_remove "Remove", class: "btn-square btn-square-small btn-red" %>
        </section>
      </div>
    <% end %>
   <%= f.link_to_add "Add a link", :links, class: "btn-square btn-purple btn-square-small" unless @story.pages.empty? %>
   </div>
  <%= f.submit "Save changes", class: "btn-square btn-square-large btn-blue" %>
<% end %>