<li class="span3">
<div class="thumbnail">
  <h4><%= page.title %></h4>
  <% if page.image? %>
      <%= image_tag page.image.url(:small) %>
    <% end %>
    <div class="caption">
    <p>
    <%= truncate(h(page.text), :length => 80,  :separator => " ", :omission => "...")%>
    </p>
    <p>
    <%= link_to "Edit", edit_story_page_path(@story, page), method: :get, class: "btn btn-small btn-warning" %>
    <%= link_to "Remove", story_page_path(@story, page), method: :delete, class: "btn btn-small btn-danger" %>
    </p>
    </div>
  </div>
</li>