<li class="span3" style="margin-left:5px !important">
  <div class="thumbnail page_thumbnail" id="divPage<%=page.id%>" >
  
    <h4><%= page.title %></h4>
    <% if page.image? %>
      <%= image_tag page.image.url(:small) %>
    <% end %>
    <div class="caption">
      <p>
      <%= raw truncate(h(page.text), :length => 80,  :separator => " ", :omission => "...")%>
      </p>
    <p>
    <% if(!page.end?) %>
    
    Links to:<br/>
    <small>
    <%
        page.links.each do |link| %>
          <%= link_to link.to_page.title, "javascript:$.scrollTo($('#divPage#{link.to_page.id}'), 800, {offset: -50});highlight('#divPage#{link.to_page.id}');" unless link.to_page.nil? %><br/>
    <% end %>
    </small>
    
    <% else %>
    <span class="label label-important">End</span>
      <% if(page.success?) %>
        <span class="label label-info">Success</span>
      <% end %>
    <% end %>
    </p>
    <p>
    <%= link_to "Edit", edit_story_page_path(@story, page), method: :get, class: "btn btn-small btn-warning" %>
    <%= link_to "Remove", story_page_path(@story, page), method: :delete, class: "btn btn-small btn-danger" %>
    </p>
    </div>
  </div>
</li>