<% provide(:title, @page.title) %>
<div class="story_box span12">
  <section>
    <h2><%= @page.title %></h2>
  </section>
  
  <div class="row">
    <div class="span8 offset2">
      <section style="text-align:center; margin-bottom:20px">
      <%= image_for_page @page %>
      </section>
      <p>
      <%= raw content_filter(@page.text) %>
      </p>
      <section class="link_section">
      <ul class="unstyled">
        <%= render @page.links %>
      </ul>
      </section>
    </div>
  </div>
  <div class="row">
  <%= render partial: "end_widget", locals: {page: @page} %>
  <%= render partial: "audio", locals: {page: @page} %>
  </div>
  <div class="pull-right">
  <% if (signed_in? and user_can_edit(@story)) %>
    <%= link_to edit_story_page_path(@story,@page) do %><div class="btn-round btn-yellow btn-round-small"><i class='fa fa-edit'></i></div><% end %>
  <% end %>
  </div>
</div>