<% provide(:title, @page.title) %>
<section>
    <h1><%= @story.title %></h1>
      <h2>
        <%= @page.title %>
      </h2>
    </section>
    
<div class="row">
  <aside class="span4">
    <section>
    <%= image_tag @page.image? ? @page.image.url(:large) : "placeholder.png" %>
    <%= @page.text %>
    </section>
    <section class="link_section">
    <ul class="thumbnails">
    <%= render @page.links %>
    </ul>
    </section>
  </aside>
</div>
<% if(@page.end?) %>
  <h1>The End</h1>
  <h3><%= link_to "Begin again", story_path(@story) %></h3>
<% end
if(@page.success?) %>
<h1>You're amazing.</h1>
<% end %>

<% if (user_can_edit(@story)) %>
  <%= link_to "Edit", edit_story_page_path(@story,@page), class: "btn btn-medium btn-warning" %>
<% end %>