<% provide(:title, @page.title) %>
<section>
    <h1><%= @story.title %></h1>
      <h2>
        <%= @page.title %>
      </h2>
    </section>
    
<div class="row">
  <div class="span6 offset3">
    <section style="text-align:center; margin-bottom:20px">
    <% if @page.image? %>
      <%= image_tag @page.image.url(:large) %>
    <% end %>
    </section>
    <p>
    <%= @page.text %>
    </p>
    <section class="link_section">
    <ul class="thumbnails">
    <%= render @page.links %>
    </ul>
    </section>
  </div>
</div>
<div class="row">
<% if(@page.end? or @page.success?) %>
  <h1>The End</h1>
  <% if(@page.success?) %>
    <h1>You won you're amazing.<h1>
  <% end %>
  <h1><small><%= link_to "Begin again", story_path(@story) %></small><br/>
  <small><%= link_to "Story list", stories_path %></small></h1>
<% end %>
</div>
<div class="pull-right">
<% if (user_can_edit(@story)) %>
  <%= link_to "Edit", edit_story_page_path(@story,@page), class: "btn btn-medium btn-warning" %>
<% end %>
</div>