<% provide(:title, @page.title) %>
<div class="story_box span12">
  <section>
    <h2><%= @page.title %></h2>
  </section>
  
  <div class="row">
    <div class="span8 offset2">
      <section style="text-align:center; margin-bottom:20px">
      <%= image_for_page @page %>
      </section>
      <p>
      <%= raw content_filter(@page.text) %>
      </p>
      <section class="link_section">
      <ul class="unstyled">
        <%= render @page.links %>
      </ul>
      </section>
    </div>
  </div>
  <div class="row">
  <% if(@page.end? or @page.success?) %>
    <h1>The End</h1>
    <% if(@page.success?) %>
      <h1><%= end_message_for(@page) %></h1>
      <div class="pull-left well well-small rating-well">
      <% if(signed_in?) %>
        <h2>Rate this story</h2>
          <%= render @story.user_rating(current_user)%>
        </div>
      <% end %>
    <% end %>
    <h1><small><%= link_to "Begin again", story_path(@story) %></small><br/>
    <small><%= link_to "Story list", stories_path %></small></h1>
  <% end %>
  </div>
  <div class="pull-right">
  <% if (signed_in? and user_can_edit(@story)) %>
    <%= link_to edit_story_page_path(@story,@page) do %><div class="btn-round btn-yellow btn-round-small"><i class='icon-edit'></i></div><% end %>
  <% end %>
  </div>
</div>