<%= render "shared/error_messages", object: f.object %>
      
<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :description %>
<%= f.text_field :description %>
<div class="well">
<%= f.label :image %>
<% if @story.image? %>
      <%= image_tag @story.image.url(:medium) %>
    <% end %>
<%= f.file_field :image %>
</div>