<%= render "shared/error_messages", object: f.object %>
      
<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :description %>
<%= f.text_field :description %>
<div class="well">
<%= f.label :image %>
<%= image_for @story %>
<%= f.file_field :image %>
<%= f.text_field :image_url %>
</div>