<li class="card story_card">

  <div class="story_box_left span2">
    <div class="story_thumb">
      <%= image_for_story story, 100 %>
    </div>
    <div class="story_button">
      <%= link_to story_path(story) do %><div class="btn-round btn-green"><i class='fa fa-play fa fa-large'></i></div><% end %>
      <% if signed_in? and user_can_edit(story) %>
        <%= link_to edit_story_path(story) do %><div class="btn-round btn-yellow btn-round-small"><i class='fa fa-edit'></i></div><% end %>
      <% end %>
      <% if signed_in? and current_user.admin? %>
        <%= link_to story_path(story), method: :delete do %><div class="btn-round btn-red btn-round-small"><i class='fa fa-trash-o'></i></div><% end %>
      <% end %>
    </div>
  </div>
  <div class="story_right <%= !(hideAuthor||=nil).nil? ? "span6" : "span7" %>">
    <% if((hideAuthor||=nil).nil?) %>
      <%=link_to story.user do %>
        <%= render partial: "/users/avatar", locals: { user: story.user, size: 52 } %>
      <% end %>
    <% end %>
    <h3><%= get_story_title(story) %></h3>
    <small><cite>By <%= story.user.nil? ? "Anonymous" : story.user.name %></cite></small>
    
    <p><%= story.description %></p>
    <%= render partial: "/stories/info", locals: {story: story} %>
  </div>

</li>