<% provide(:title, "Edit story") %> 
 
<h1>Update <%=@story.title%></h1>
<%= render "graph" %>
<div class="row">
  <div class="span8 offset2">
  <h3>Details</h3>
    <%= form_for(@story) do |f| %>
      <%= render "fields", f: f %>
      <section>
      <%= f.submit "Update details", class: "btn btn-medium btn-primary" %>
      </section>
    <% end %>

    <% if @story.status == Story::PUBLISHED %>
      <%= form_for @story, :method => :put do |f| %>
        <%= f.hidden_field :status, :value => 0 %>
        <%= f.submit "Unpublish Story", class: "btn btn-large btn-block" %>
      <% end %>
    <% else %>
      <%= form_for @story, :method => :put do |f| %>
        <%= f.hidden_field :status, :value => 1 %>
        <%= f.submit "Publish Story", class: "btn btn-large btn-danger btn-block" %>
      <% end %>
    <% end %>
        
    <div class="span9" style="margin-left:-10px">
      <h3>Pages</h3>
      <ul class="thumbnails">
        <%= render @story.pages.find(:all, order: "id") %>
      </ul>
      <hr />
      <p style="display: block">
        <%= link_to "Add page", new_story_page_path(@story), method: :get, class: "btn btn-large btn-primary" %>&nbsp;
      
        <%= link_to "Play", story_path(@story), method: :get, class: "btn btn-large btn-success btn-play" %>
      </p>
    </div>
  </div>
  <script>
  $(window).load(function(){
    var maxHeight = 0;
    $('.thumbnails li').each(function() { maxHeight = Math.max(maxHeight, $(this).height()); }).height(maxHeight);
    
  });
  </script>
</div>