<% provide(:title, "Edit story") %> 
<h1>Update Story</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@story) do |f| %>
      <%= render "fields", f: f %>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
<div class="row">
  <%= render @story.pages %>
  <%= button_to "Add page", new_story_page_path(@story), method: :get, class: "btn btn-large btn-primary" %>
</div>