<% provide(:title, "Edit story") %> 
 
<h1>Update <%=@story.title%></h1>
<%= render "graph" %>
<div class="row">
  <div class="span8 offset2">
  <h3>Details</h3>
    <%= form_for(@story) do |f| %>
      <%= render "fields", f: f %>
      <section>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      </section>
    <% end %>
    <div class="span9" style="margin-left:-10px">
    <h3>Pages</h3>
    <%= link_to "Page graph", story_graph_path(@story) %>
    <ul class="thumbnails">
      <%= render @story.pages.find(:all, order: "id") %>
    </ul>
    <%= button_to "Add page", new_story_page_path(@story), method: :get, class: "btn btn-medium btn-info" %>
    </div>
  </div>
  <script>
  $(document).ready(function(){
    var maxHeight = 0;
    $('.thumbnails li').each(function() { maxHeight = Math.max(maxHeight, $(this).height()); }).height(maxHeight);
    
  });
  </script>

</div>
     