
<div class="sorting_bar">
	<ul class="nav nav-pills">
	<% ["Rating","Title","Date"].each do |p| %>
		<li class="<%=p.casecmp(params[:sort]) == 0 ? "active" : "" %>">
			<%= link_to p, params.permit(:sort).merge({:sort => p.downcase}) %>
		</li>
	<% end %>
	</ul>
</div>
<div class="clearfix"></div>
<div class="pull-right">
<div id="mini_feed" class="card span3">
<h3>Recently</h3>
  <% @activity.each do |post| %>
    <%= render partial: "microposts/mini", locals: { micropost: post } %>
  <% end %>

</div>
<% if(signed_in?) %>
  <div id="new_story_button"><%= link_to "New story", new_story_path, class: "btn-square btn-blue" %></div>
<% end %>
</div>
<ul class="thumbnails span9">
  <%= render @stories %>
</ul>
<div class="clearfix"></div>
<%= will_paginate @stories %>