<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <%= link_to root_path, id: "logo" do %>
      <i class="icon-book"></i> Story Time
      <% end %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <% if current_user.admin? %>
              <li><%= link_to "Activity", reports_activity_path %></li>
            <% end %>
            <li><%= link_to "Stories", stories_path %></li>
            <li><%= link_to "Authors", users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
            <li><%= link_to "Help", help_path %></li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
  </div>
</div>